@import "global";

.container {
  font-size: 1em;
  border: 0.1rem solid transparent;
  color: $clr-secondary;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  width: max-content;

  transition: transform 0.4s;

  &:visited {
    text-decoration: inherit;
  }

  &:hover {
    transition: transform 0.4s;
    transform: translateY(-0.4rem);
  }

  &:active {
    transition: transform 0.1s, filter 0.1s;
    transform: translateY(-0.2rem);
    filter: brightness(0.9);
  }

  &::after {
    content: "";
    display: block;

    width: 100%;

    background-color: $clr-secondary;
    height: 0.1em;
  }
}
