@import "global";

.container {
  font-size: 1em;
  padding: 0.5em 2em;
  border: .1rem solid transparent;
  color: $clr-neutral-0;
  background-color: $clr-secondary;
  text-transform: capitalize;
  cursor: pointer;
  width: max-content;

  transition: transform 0.4s;

  &:hover {
    transition: transform 0.4s;
    transform: translateY(-0.4rem);
  }

  &:active {
    transition: transform 0.1s, filter 0.1s;
    transform: translateY(-0.2rem);
    filter: brightness(0.9);
  }
}
